{% include "header.html" %}

<body>
    {% include "navbar.html" %}
    <div class="content"> 
        <h1>Cast Vote</h1> 
        <div class="form-container"> 
            <form method="POST" action="/cast-vote"> 
                <label>Cast Vote:</label><br> 

                <input type="radio" id="republican" name="person" value="Donald Trump" onclick="showPerson3NameField()"> 
                <label for="person1">Donald Trump - Republican</label><br> 

                <input type="radio" id="democratic" name="person" value="Kamala Harris" onclick="showPerson3NameField()"> 
                <label for="person2">Kamala Harris - Democratic</label><br> 

                <input type="radio" id="independent" name="person" value="person3" onclick="showPerson3NameField()"> 
                <label for="independent">Independent</label><br><br> 
                    <div id="person3NameField" class="hidden"> 
                        <label for="person3Name">Enter name:</label><br> 
                        <input type="text" id="person3Name" name="person3Name"><br><br> </div> 
                        
                <input type="submit" value="Cast Vote">
                
            </form>

</body>
</html>
