{% include "header.html" %}
<body>
    {% include "navbar.html" %}
    <div class="content">
        <h1>Voter Status</h1>
        <p>{{ message }}</p>
        {% if status == "ELIGIBLE" %}
        <form method="POST" action="/cast-vote">
            <input type="hidden" id="fullName" name="fullName" value="{{ fullName }}">
            <input type="hidden" id="id" name="id" value="{{ id }}">
            <input type="hidden" id="state" name="state" value="{{ state }}">
            <input type="hidden" id="vote" name="vote" value="{{ vote }}">
            <button type="submit" class="button">VOTE NOW!</button>
        </form>
        {% endif %}
    </div>
</body>
</html>